/* container */
.container_12{
	background:black;
}
/* header */
header{
	position: fixed;
	margin-top:0;
	background:lightgrey;
	font-family: sans-serif;
}

header img{
	margin-top: 5px;
}

header h1{
	margin-top: 20px;
	float: left;
	text-transform: uppercase;
	text-align: center;
}

header img{
	float: left;
}

header li{
	display: inline;
	margin: 10px;
}
/* navigation */
nav ul{
 	margin-top: 70px;
 	margin-left: 200px;
}
/* anchor */
a{
	font-size: 13px;
	color: black;
	text-decoration: none;
}

a:hover{
	color:white;
	font-size: 15px;
}
/* aside */	
aside ul{
	margin-top: 70px;
	margin-right:0;
	font-size: 3px;
}

aside li{
	margin: 0;
	padding-right: 0.2em;
}
/* button */
.button{
	color:grey;
	padding:4px;
	background:skyblue;
}
/* banner/hero */
.banner{
	margin:0;
	width: 960px;
	height: 563px;
}
/* quote of day */
.text{
	text-decoration: none;
	text-align: center;
	float: left;
	background:black;
	color:grey;
	font-size: 32px;
	font-family: 'Lobster', cursive;/* google fonts */
	letter-spacing: 5px;
	margin-top: 50px;
	margin-left: 20px;
}

.quoteOfDay{
	margin-top: 120px;
}

.quote{
	float:left;
	height:160px;
	width:560px;
	margin-right: 0;
	font-size: 25px;
	color: lightgrey;
	background:url(../img/dayquotes.gif);/* background image */
}

.quote p{
	margin-top: 160px;
	margin-left: 170px;
}

blockquote p:first-child:before{
	content:'“';
}

blockquote p:first-child:after{
	content:'”';
}

blockquote{
	margin-left: 10px;
	font-family: inconsolata;
}
/* articles */
.recentSection h2{
	color: grey;
	margin-top: 10px;
	margin-left: 15px;
	text-transform: uppercase;
}

section h4,h2{
	color:grey;
	text-decoration: underline;
}

section p,a{
	color:white;
}

h3{
	margin-left: 300px;
	color:lightgrey;
}

h2{
	text-decoration: none;
	margin-top: 15px;
}

.successblueprint h2{
	color: blue;
	font-size: 25px;
	font-family: 'Lobster', cursive;
	letter-spacing: 3px;
	text-align: center;
}

.successblueprint h3{
	margin-top: 25px;
	text-align: center;
}

.successblueprint h6{
	text-align: left;
	color: grey;
	text-decoration:underline;
	margin-bottom: 0px;
}

.successblueprint aside{
	color: white;
	text-align: right;
	font-size: 15px;
	margin-left: 0;
}

.successblueprint aside:after{
	content: '...)';
}

.successblueprint aside:before{
	content: '(';
}

.successblueprint p{
	float: right;
	padding-right: 10px;
}

.nick p:before{
	padding-right: 20px;
	float: left;
	content:url(../img/nick.jpg);
}

.nando p:before{
	padding-right: 20px;
	float: left;
	content:url(../img/nando.jpg);
}

.cox p:before{
	padding-right: 20px;
	float: left;
	content:url(../img/cox.jpg);
}
/* footer */
.foot{
	color:black;
	background:grey;
	border-bottom: solid;
	border-width: 10px;
	border-color: black;
	}

.foot li{
	display: inline;
	margin:3px;
	font-size: 7px;
}

/* social */
.social{
	float:left;
	margin-left: -270px;
	margin-top: 20px;
}


.social ul{
	text-align: left;
	float: left;
	margin-left: -80px;
}
/* footer list */
.foot h6{
	font-size: 11px;
	float: right;
	align:auto;
	margin-top: 20px;
	margin-right: 0;
	text-align: right;
}
.foot ul{
	float: right;
	margin-right: 0px;
	margin-top: 0px;
	text-align: right;
}

/* linkedPage2 */
.story{
	margin-top: 120px;
}
/* headings linkedPage */
.story h2{
	color: blue;
	float: left;
	font-size: 30px;
	font-family: 'Lobster', cursive;
	letter-spacing: 3px;
	text-align: left;
}

.story h3{
	color: grey;
	float: left;
	font-size: 20px;
	text-align: left;
	margin-left: -110px;
	margin-top: 30px;
}
